.navbar {
  width: 100vw;
  padding: 0 30%;
  color: #000000;
  background-color: #FFF;  /* Blue */
  border-bottom: solid .5px lightgray;
}

.nav-item-container {
  display: flex;
  align-items: center;
  font-family: "Segoe UI";
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 55px;
  height: 55px;
  margin: .7rem;
}

.profile-picture {
  display: block;
  width: 100%;
  height: 100%;
}
