.small-img-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4rem;
}

.image-frame {
  width: 30%;
  height: 250px;
  margin: calc(10% / 6);
  overflow: hidden;
}

.image {
  height: 100%;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.image-overlay {
  max-height: 500px;
}

#histogram {
  width: 500px;
  height: 500px;
}

.close-button {
  color: white;
}