.small-img-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4rem;
}

.image-frame {
  width: 30%;
  height: 250px;
  margin: calc(10% / 6);
  overflow: hidden;
}

.image {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  /* opacity: .5; */
  /* width: 80%;
  height: 100%; */
  overflow: hidden;
  /* object-fit: contain;
  align-content: center;
  justify-content: center; */
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}